## data file folders
**/data_match
**/data_saildrone
**/data_satellite
**/data_shapefile

## data file formats
**.nc
**.txt
**.csv

**.cpg
**.dbf
**.shp
**.shx

## figure files
**.png


## python compiled files
**.pyc


## MAC files
.DS_Store